{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block header %}

{% include 'layouts/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
	<h1> Joke & pickup Line api</h1>
	<div class="playground">
		<h3>Live Demo</h3>
		<div class="url-div">
			<p> Endpoints </p>
			<div class="input-field col s12 m9">
   					 <select class="url-select" >
      					<option value="" disabled selected>Choose your option</option>
					{% if context.urls %}
						{% for u in context.urls %}
						<option value="{{ u.url }}">{{ u.name }}</option>
						 {% endfor %}
					{% endif %}
   					 </select>
 			 </div>
			 
			 <input type="submit" class="btn black" value="Send">
		<div>

		<div class="cur-url">
			<p></p>
		</div>
		<div class="response-div">
		<div>
	<div>
		
</div>
<style>

.cur-url {
	height: 40px;
	background-color: rgb(51,51,51);
	padding: 5px;
	color: rgb(255,255,255);
}

</style>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
                  let urlSelectNode = document.querySelectorAll('.url-select');
                  let instances = M.FormSelect.init(urlSelectNode);
	 	
	          let urlSelect = document.querySelector(".url-select");
		  let curUrl = document.querySelector(".cur-url");
		  urlSelect.addEventListener("change",  function(e){
			  curUrl.innerHTML = this.value;
	          });
                });
	</script>
{% endblock %}
